$motovan-blue: #00aeef;
$motovan-border: darken($motovan-blue, 3%);
$motovan-hover: darken($motovan-blue, 8%);

$black:  #1b1b1b;

.content {
    padding: 50px 0 30px;
}

.bg-inverse {
    background-color: $black !important;
}

.btn-primary {
    background-color: $motovan-blue;
    border-color: $motovan-border;

    &:hover, &:focus, &:active, &:visited {
      background-color: $motovan-hover;
      border-color: $motovan-hover;
    }
}

.card-empty {
    border: 0;
}

.modal-content {
    border-radius: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    margin: 8px 14px;
    padding: 5px 10px;
    text-transform: uppercase;
    background: $motovan-blue;
    border-radius: 0;

    &:hover {
        background-color: $motovan-hover;
    }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: $motovan-blue;
}

footer {
    height: 40px;
}

header {
    padding: 8px;

    img {
        max-height: 54px !important;
    }
}

.btn {
    &.btn-square {
        border-radius: 0;
    }
}

.card {
    &.card-square {
        border-radius: 0;
    }
}
@media (min-width: 600px) and (max-width: 1100px) {
    .card-deck {
        margin-bottom: 1.5rem;
    }

    .first-row .card-text {
        min-height: 120px;
    }

    .second-row .card-title {
        min-height: 80px;
    }

    .third-row .card-text {
        min-height: 145px;
    }

    .fourth-row .card-text {
        min-height: 120px;
    }

    .fifth-row {
        .card-title {
            min-height: 53px;
        }

        .card-text {
            min-height: 120px;
        }
    }

    .fifth-extra-row {
        .card-title {
            min-height: 53px;
        }

        .card-text {
            min-height: 145px;
        }
    }

    .sixth-row {
        .card-text {
            min-height: 120px;
        }
    }

    .seventh-row {
        .card-text {
            min-height: 100px;
        }
    }

    .eigth-row {
        .card-title {
            min-height: 53px;
        }

        .card-text {
            min-height: 100px;
        }
    }
}
