.content { padding: 50px 0 30px; }

.bg-inverse { background-color: #1b1b1b !important; }

.btn-primary { background-color: #00aeef; border-color: #00a3e0; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited { background-color: #0090c6; border-color: #0090c6; }

.card-empty { border: 0; }

.modal-content { border-radius: 0; }

.owl-theme .owl-nav [class*=owl-] { margin: 8px 14px; padding: 5px 10px; text-transform: uppercase; background: #00aeef; border-radius: 0; }

.owl-theme .owl-nav [class*=owl-]:hover { background-color: #0090c6; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #00aeef; }

footer { height: 40px; }

header { padding: 8px; }

header img { max-height: 54px !important; }

.btn.btn-square { border-radius: 0; }

.card.card-square { border-radius: 0; }

@media (min-width: 600px) and (max-width: 1100px) { .card-deck { margin-bottom: 1.5rem; }
  .first-row .card-text { min-height: 120px; }
  .second-row .card-title { min-height: 80px; }
  .third-row .card-text { min-height: 145px; }
  .fourth-row .card-text { min-height: 120px; }
  .fifth-row .card-title { min-height: 53px; }
  .fifth-row .card-text { min-height: 120px; }
  .fifth-extra-row .card-title { min-height: 53px; }
  .fifth-extra-row .card-text { min-height: 145px; }
  .sixth-row .card-text { min-height: 120px; }
  .seventh-row .card-text { min-height: 100px; }
  .eigth-row .card-title { min-height: 53px; }
  .eigth-row .card-text { min-height: 100px; } }
